In [1]:
# import libraties
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read the product csv file and print head
df = pd.read_csv('sample30.csv')
df.head()

,id,brand,categories,manufacturer,name,reviews_date,reviews_didPurchase,reviews_doRecommend,reviews_rating,reviews_text,reviews_title,reviews_userCity,reviews_userProvince,reviews_username,user_sentiment
0,AV13O1A8GV-KLJ3akUyj,Universal Music,"Movies, Music & Books,Music,R&b,Movies & TV,Mo...",Universal Music Group / Cash Money,Pink Friday: Roman Reloaded Re-Up (w/dvd),2012-11-30T06:21:45.000Z,NaN,NaN,5,i love this album. it's very good. more to the...,Just Awesome,Los Angeles,NaN,joshua,Positive
1,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",Lundberg,Lundberg Organic Cinnamon Toast Rice Cakes,2017-07-09T00:00:00.000Z,True,NaN,5,Good flavor. This review was collected as part...,Good,NaN,NaN,dorothy w,Positive
2,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",Lundberg,Lundberg Organic Cinnamon Toast Rice Cakes,2017-07-09T00:00:00.000Z,True,NaN,5,Good flavor.,Good,NaN,NaN,dorothy w,Positive
3,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",K-Y,K-Y Love Sensuality Pleasure Gel,2016-01-06T00:00:00.000Z,False,False,1,I read through the reviews on here before look...,Disappointed,NaN,NaN,rebecca,Negative
4,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",K-Y,K-Y Love Sensuality Pleasure Gel,2016-12-21T00:00:00.000Z,False,False,1,My husband bought this gel for us. The gel cau...,Irritation,NaN,NaN,walker557,Negative

In [3]:
# check for null values
(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)

reviews_userProvince    0.994333
reviews_userCity        0.935700
reviews_didPurchase     0.468933
reviews_doRecommend     0.085667
reviews_title           0.006333
manufacturer            0.004700
reviews_username        0.002100
reviews_date            0.001533
user_sentiment          0.000033
reviews_text            0.000000
reviews_rating          0.000000
name                    0.000000
categories              0.000000
brand                   0.000000
id                      0.000000
dtype: float64

In [4]:
df = df.drop(['reviews_userProvince','reviews_userCity','reviews_didPurchase'],axis=1)
df.shape

(30000, 12)

In [5]:
# fill the null value with positive tag
df['user_sentiment'] = df['user_sentiment'].fillna('Positive')

In [6]:
# check for null values
(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)

reviews_doRecommend    0.085667
reviews_title          0.006333
manufacturer           0.004700
reviews_username       0.002100
reviews_date           0.001533
user_sentiment         0.000000
reviews_text           0.000000
reviews_rating         0.000000
name                   0.000000
categories             0.000000
brand                  0.000000
id                     0.000000
dtype: float64

In [7]:
df.isnull().any().any()

True

### we need 3 columns for reconmmendation userId, prodId,rating - username is the only userid and it has some null values

In [8]:
df.reviews_username.isnull().sum()

63

### There are 63 empty null usernames - -is there any way of imputting else drop them

In [9]:
df.shape

(30000, 12)

In [10]:
df = df[~df.reviews_username.isnull()]

In [11]:
df.shape

(29937, 12)

DRop all not used col

In [76]:
df = df.drop(['reviews_doRecommend','reviews_title','manufacturer','reviews_date'],axis=1)
df.shape

(29937, 8)

In [77]:
df.isnull().any().any()

False

In [12]:
df.head()

,id,brand,categories,manufacturer,name,reviews_date,reviews_doRecommend,reviews_rating,reviews_text,reviews_title,reviews_username,user_sentiment
0,AV13O1A8GV-KLJ3akUyj,Universal Music,"Movies, Music & Books,Music,R&b,Movies & TV,Mo...",Universal Music Group / Cash Money,Pink Friday: Roman Reloaded Re-Up (w/dvd),2012-11-30T06:21:45.000Z,NaN,5,i love this album. it's very good. more to the...,Just Awesome,joshua,Positive
1,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",Lundberg,Lundberg Organic Cinnamon Toast Rice Cakes,2017-07-09T00:00:00.000Z,NaN,5,Good flavor. This review was collected as part...,Good,dorothy w,Positive
2,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",Lundberg,Lundberg Organic Cinnamon Toast Rice Cakes,2017-07-09T00:00:00.000Z,NaN,5,Good flavor.,Good,dorothy w,Positive
3,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",K-Y,K-Y Love Sensuality Pleasure Gel,2016-01-06T00:00:00.000Z,False,1,I read through the reviews on here before look...,Disappointed,rebecca,Negative
4,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",K-Y,K-Y Love Sensuality Pleasure Gel,2016-12-21T00:00:00.000Z,False,1,My husband bought this gel for us. The gel cau...,Irritation,walker557,Negative

Dividing the dataset into train and test

In [13]:
# Test and Train split of the dataset.
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.30, random_state=31)

In [14]:
print(train.shape)
print(test.shape)

(20955, 12)
(8982, 12)

In [15]:
#df.groupby(['id'])['reviews_rating'].sum()

id
AV13O1A8GV-KLJ3akUyj       5
AV14LG0R-jtxr-f38QfS      10
AV16khLE-jtxr-f38VFn      68
AV1YGDqsGV-KLJ3adc-O    1437
AV1YIch7GV-KLJ3addeG       5
                        ...
AVpfthSailAPnD_xg3ON      32
AVpftikC1cnluZ0-p31V    1124
AVpftymALJeJML43CZ6y       5
AVpfv4TlilAPnD_xhjNS      13
AVpfvieo1cnluZ0-qdnu      70
Name: reviews_rating, Length: 271, dtype: int64

In [93]:
#df.groupby(['reviews_username'])['reviews_rating'].count()

reviews_username
00dog3      1
00sab00     2
01impala    1
02dakota    1
02deuce     1
           ..
zxcsdfd     2
zxjki       1
zyiah4      1
zzdiane     1
zzz1127     1
Name: reviews_rating, Length: 24914, dtype: int64

In [85]:
#df.groupby(['id','reviews_username'])['reviews_rating'].count()

id                    reviews_username
AV13O1A8GV-KLJ3akUyj  joshua              1
AV14LG0R-jtxr-f38QfS  dorothy w           2
AV16khLE-jtxr-f38VFn  amanda              1
                      ashley a            1
                      beccagrl532         1
                                         ..
AVpfvieo1cnluZ0-qdnu  marcos              1
                      mathias             1
                      natural1            1
                      pixiecut            1
                      rubenjuarez         1
Name: reviews_rating, Length: 27588, dtype: int64

In [89]:
#df.groupby(['id','reviews_username']).count()

                                       brand  categories  name  \
id                   reviews_username
AV13O1A8GV-KLJ3akUyj joshua                1           1     1
AV14LG0R-jtxr-f38QfS dorothy w             2           2     2
AV16khLE-jtxr-f38VFn amanda                1           1     1
                     ashley a              1           1     1
                     beccagrl532           1           1     1
...                                      ...         ...   ...
AVpfvieo1cnluZ0-qdnu marcos                1           1     1
                     mathias               1           1     1
                     natural1              1           1     1
                     pixiecut              1           1     1
                     rubenjuarez           1           1     1

                                       reviews_rating  reviews_text  \
id                   reviews_username
AV13O1A8GV-KLJ3akUyj joshua                         1             1
AV14LG0R-jtxr-f38QfS dorothy w                      2             2
AV16khLE-jtxr-f38VFn amanda                         1             1
                     ashley a                       1             1
                     beccagrl532                    1             1
...                                               ...           ...
AVpfvieo1cnluZ0-qdnu marcos                         1             1
                     mathias                        1             1
                     natural1                       1             1
                     pixiecut                       1             1
                     rubenjuarez                    1             1

                                       user_sentiment
id                   reviews_username
AV13O1A8GV-KLJ3akUyj joshua                         1
AV14LG0R-jtxr-f38QfS dorothy w                      2
AV16khLE-jtxr-f38VFn amanda                         1
                     ashley a                       1
                     beccagrl532                    1
...                                               ...
AVpfvieo1cnluZ0-qdnu marcos                         1
                     mathias                        1
                     natural1                       1
                     pixiecut                       1
                     rubenjuarez                    1

[27588 rows x 6 columns]

In [98]:
#X= df.groupby(['id','reviews_username'])

In [19]:
# Pivot the train ratings' dataset into matrix format in which columns are movies and the rows are user IDs.
df_pivot =train.pivot_table(index='id', columns='reviews_username', values='reviews_rating', aggfunc='sum').fillna(0)

df_pivot.head()

reviews_username,00sab00,01impala,02dakota,02deuce,06stidriver,08dallas,09mommy11,1.11E+24,1085,10ten,...,zowie,zozo0o,zpalma,zsazsa,zt313,zuttle,zwithanx,zxcsdfd,zyiah4,zzz1127
id,,,,,,,,,,,,,,,,,,,,,
AV13O1A8GV-KLJ3akUyj,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AV14LG0R-jtxr-f38QfS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AV16khLE-jtxr-f38VFn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AV1YGDqsGV-KLJ3adc-O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AV1YIch7GV-KLJ3addeG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Creating dummy train & dummy test dataset
These dataset will be used for prediction

Dummy train will be used later for prediction of the movies which has not been rated by the user. To ignore the movies rated by the user, we will mark it as 0 during prediction. The movies not rated by user is marked as 1 for prediction in dummy train dataset.

Dummy test will be used for evaluation. To evaluate, we will only make prediction on the movies rated by the user. So, this is marked as 1. This is just opposite of dummy_train.

In [20]:
# Copy the train dataset into dummy_train
dummy_train = train.copy()

In [21]:
# The movies not rated by user is marked as 1 for prediction. 
dummy_train['reviews_rating'] = dummy_train['reviews_rating'].apply(lambda x: 0 if x>=1 else 1)

In [22]:
# Convert the dummy train dataset into matrix format.
dummy_train = dummy_train.pivot_table(
    index='reviews_username', columns='id', values='reviews_rating', aggfunc='sum'
).fillna(1)

In [23]:
dummy_train.head()

id,AV13O1A8GV-KLJ3akUyj,AV14LG0R-jtxr-f38QfS,AV16khLE-jtxr-f38VFn,AV1YGDqsGV-KLJ3adc-O,AV1YIch7GV-KLJ3addeG,AV1YlENIglJLPUi8IHsX,AV1YmBrdGV-KLJ3adewb,AV1YmDL9vKc47QAVgr7_,AV1Ymf_rglJLPUi8II2v,AV1Yn94nvKc47QAVgtst,...,AVpfr5cb1cnluZ0-pZFp,AVpfrFDZLJeJML43Bmv0,AVpfrTyiLJeJML43BrSI,AVpfrfHF1cnluZ0-pRai,AVpfrgjFLJeJML43BvCc,AVpfshNsLJeJML43CB8q,AVpfthSailAPnD_xg3ON,AVpftikC1cnluZ0-p31V,AVpfv4TlilAPnD_xhjNS,AVpfvieo1cnluZ0-qdnu
reviews_username,,,,,,,,,,,,,,,,,,,,,
00sab00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
01impala,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
02dakota,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
02deuce,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
06stidriver,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [24]:
dummy_train.shape

(18212, 255)

Cosine Similarity

Cosine Similarity is a measurement that quantifies the similarity between two vectors [Which is Rating Vector in this case]

Adjusted Cosine

Adjusted cosine similarity is a modified version of vector-based similarity where we incorporate the fact that different users have different ratings schemes. In other words, some users might rate items highly in general, and others might give items lower ratings as a preference. To handle this nature from rating given by user , we subtract average ratings for each user from each user's rating for different movies.

In [25]:
from sklearn.metrics.pairwise import pairwise_distances

# Creating the User Similarity Matrix using pairwise_distance function.
user_correlation = 1 - pairwise_distances(df_pivot, metric='cosine')
user_correlation[np.isnan(user_correlation)] = 0
print(user_correlation)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [26]:
user_correlation.shape

(255, 255)

### Using adjusted Cosine
### Here, we are not removing the NaN values and calculating the mean only for the movies rated by the user

In [31]:
# Create a user-movie matrix.
df_pivot = train.pivot_table(
    index='id', columns='reviews_username', values='reviews_rating', aggfunc='sum'
)

In [32]:
df_pivot.head()

reviews_username,00sab00,01impala,02dakota,02deuce,06stidriver,08dallas,09mommy11,1.11E+24,1085,10ten,...,zowie,zozo0o,zpalma,zsazsa,zt313,zuttle,zwithanx,zxcsdfd,zyiah4,zzz1127
id,,,,,,,,,,,,,,,,,,,,,
AV13O1A8GV-KLJ3akUyj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV14LG0R-jtxr-f38QfS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV16khLE-jtxr-f38VFn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV1YGDqsGV-KLJ3adc-O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV1YIch7GV-KLJ3addeG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Normalising the rating of the movie for each user around 0 mean

In [33]:
mean = np.nanmean(df_pivot, axis=1)
df_subtracted = (df_pivot.T-mean).T

In [34]:
df_subtracted.head()

reviews_username,00sab00,01impala,02dakota,02deuce,06stidriver,08dallas,09mommy11,1.11E+24,1085,10ten,...,zowie,zozo0o,zpalma,zsazsa,zt313,zuttle,zwithanx,zxcsdfd,zyiah4,zzz1127
id,,,,,,,,,,,,,,,,,,,,,
AV13O1A8GV-KLJ3akUyj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV14LG0R-jtxr-f38QfS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV16khLE-jtxr-f38VFn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV1YGDqsGV-KLJ3adc-O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AV1YIch7GV-KLJ3addeG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Finding cosine similarity

In [36]:
from sklearn.metrics.pairwise import pairwise_distances

In [37]:
# Creating the User Similarity Matrix using pairwise_distance function.
user_correlation = 1 - pairwise_distances(df_subtracted.fillna(0), metric='cosine')
user_correlation[np.isnan(user_correlation)] = 0
print(user_correlation)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

Prediction - User User
Doing the prediction for the users which are positively related with other users, and not the users which are negatively related as we are interested in the users which are more similar to the current users. So, ignoring the correlation for values less than 0.

In [39]:
user_correlation[user_correlation<0]=0
user_correlation

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

Rating predicted by the user (for movies rated as well as not rated) is the weighted sum of correlation with the movie rating (as present in the rating dataset).

In [40]:
user_predicted_ratings = np.dot(user_correlation, df_pivot.fillna(0))
user_predicted_ratings

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.05484372, 0.09140621, ..., 0.00149452, 0.00149452,
        0.00119562],
       ...,
       [0.02317003, 0.05558271, 0.09263786, ..., 0.        , 0.        ,
        0.        ],
       [0.04270508, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [41]:
user_predicted_ratings.shape

(255, 18212)

Since we are interested only in the movies not rated by the user, we will ignore the movies rated by the user by making it zero.

In [42]:
user_final_rating = np.multiply(user_predicted_ratings,dummy_train)
user_final_rating.head()

ValueError: operands could not be broadcast together with shapes (255,18212) (18212,255)

Finding the top 5 recommendation for the user

In [ ]:
# Take the user ID as input.
user_input = int(input("Enter your user name"))
print(user_input)

In [ ]:
user_final_rating.head(2)

In [ ]:
d = user_final_rating.loc[user_input].sort_values(ascending=False)[0:5]
d

In [ ]:
#Mapping with Movie Title / Genres 
movie_mapping = pd.read_csv('https://raw.githubusercontent.com/antrikshsaxena/NLPCapstone/main/movies.csv')
movie_mapping.head()